Results/Proposed_IP_final_bands_CNN/Final_Selected_results.txt
Results/Proposed_IP_final_bands_CNN/Proposed_complete_results.txt
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_0/best_weights.h5
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_0/last_weights.h5
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_0/Selected_complete_results.txt
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_1/best_weights.h5
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_1/last_weights.h5
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_1/Selected_complete_results.txt
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_2/best_weights.h5
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_2/last_weights.h5
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_2/Selected_complete_results.txt
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_3/best_weights.h5
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_3/last_weights.h5
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_3/Selected_complete_results.txt
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_4/best_weights.h5
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_4/last_weights.h5
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_4/Selected_complete_results.txt
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_5/best_weights.h5
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_5/last_weights.h5
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_5/Selected_complete_results.txt
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_6/best_weights.h5
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_6/last_weights.h5
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_6/Selected_complete_results.txt
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_7/best_weights.h5
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_7/last_weights.h5
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_7/Selected_complete_results.txt
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_8/best_weights.h5
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_8/last_weights.h5
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_8/Selected_complete_results.txt
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_9/best_weights.h5
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_9/last_weights.h5
Results/Proposed_IP_final_bands_CNN/Number_bands_10_Prueba_9/Selected_complete_results.txt
Results/Proposed_IP_final_bands_dense/Final_Selected_results.txt
Results/Proposed_IP_final_bands_dense/Proposed_complete_results.txt
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_0/best_weights.h5
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_0/last_weights.h5
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_0/Selected_complete_results.txt
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_1/best_weights.h5
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_1/last_weights.h5
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_1/Selected_complete_results.txt
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_2/best_weights.h5
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_2/last_weights.h5
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_2/Selected_complete_results.txt
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_3/best_weights.h5
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_3/last_weights.h5
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_3/Selected_complete_results.txt
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_4/best_weights.h5
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_4/last_weights.h5
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_4/Selected_complete_results.txt
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_5/best_weights.h5
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_5/last_weights.h5
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_5/Selected_complete_results.txt
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_6/best_weights.h5
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_6/last_weights.h5
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_6/Selected_complete_results.txt
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_7/best_weights.h5
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_7/last_weights.h5
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_7/Selected_complete_results.txt
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_8/best_weights.h5
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_8/last_weights.h5
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_8/Selected_complete_results.txt
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_9/best_weights.h5
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_9/last_weights.h5
Results/Proposed_IP_final_bands_dense/Number_bands_10_Prueba_9/Selected_complete_results.txt
Results/Proposed_PU_final_bands_CNN/Final_Selected_results.txt
Results/Proposed_PU_final_bands_CNN/Proposed_complete_results.txt
Results/Proposed_PU_final_bands_CNN/Number_bands_10_Prueba_0/best_weights.h5
Results/Proposed_PU_final_bands_CNN/Number_bands_10_Prueba_0/last_weights.h5
Results/Proposed_PU_final_bands_CNN/Number_bands_10_Prueba_0/Selected_complete_results.txt
Results/Proposed_PU_final_bands_CNN/Number_bands_10_Prueba_1/best_weights.h5
Results/Proposed_PU_final_bands_CNN/Number_bands_10_Prueba_1/last_weights.h5
Results/Proposed_PU_final_bands_CNN/Number_bands_10_Prueba_1/Selected_complete_results.txt
Results/Proposed_PU_final_bands_dense/Final_Selected_results.txt
Results/Proposed_PU_final_bands_dense/Proposed_complete_results.txt
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_0/best_weights.h5
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_0/last_weights.h5
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_0/Selected_complete_results.txt
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_1/best_weights.h5
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_1/last_weights.h5
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_1/Selected_complete_results.txt
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_2/best_weights.h5
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_2/last_weights.h5
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_2/Selected_complete_results.txt
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_3/best_weights.h5
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_3/last_weights.h5
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_3/Selected_complete_results.txt
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_4/best_weights.h5
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_4/last_weights.h5
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_4/Selected_complete_results.txt
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_5/best_weights.h5
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_5/last_weights.h5
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_5/Selected_complete_results.txt
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_6/best_weights.h5
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_6/last_weights.h5
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_6/Selected_complete_results.txt
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_7/best_weights.h5
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_7/last_weights.h5
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_7/Selected_complete_results.txt
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_8/best_weights.h5
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_8/last_weights.h5
Results/Proposed_PU_final_bands_dense/Number_bands_10_Prueba_8/Selected_complete_results.txt
Results/Proposed_Sal_final_bands_CNN/Number_bands_10_Prueba_0/best_weights.h5
Results/Proposed_Sal_final_bands_dense/Proposed_complete_results.txt
Results/Proposed_Sal_final_bands_dense/Number_bands_10_Prueba_5/best_weights.h5
Results/Proposed_Sal_final_bands_dense/Number_bands_10_Prueba_5/last_weights.h5
Results/Proposed_Sal_final_bands_dense/Number_bands_10_Prueba_5/Selected_complete_results.txt
Results/Proposed_Sal_final_bands_CNN/Proposed_complete_results.txt
Results/Proposed_Sal_final_bands_CNN/Number_bands_10_Prueba_0/last_weights.h5
Results/Proposed_Sal_final_bands_CNN/Number_bands_10_Prueba_0/Selected_complete_results.txt
Results/Proposed_IP_final_bands_test_2/Final_Selected_results.txt
Results/Proposed_IP_final_bands_test_2/Proposed_complete_results.txt
Results/Proposed_IP_final_bands_test_2/Number_bands_10_Prueba_0/best_weights.h5
Results/Proposed_IP_final_bands_test_2/Number_bands_10_Prueba_0/last_weights.h5
Results/Proposed_IP_final_bands_test_2/Number_bands_10_Prueba_0/Selected_complete_results.txt
Results/Proposed_IP_final_bands_test_2/Number_bands_10_Prueba_1/best_weights.h5
Results/Proposed_IP_final_bands_test_2/Number_bands_10_Prueba_1/last_weights.h5
Results/Proposed_IP_final_bands_test_2/Number_bands_10_Prueba_1/Selected_complete_results.txt
Results/Proposed_IP_final_bands_test_2/Number_bands_10_Prueba_2/best_weights.h5
Results/Proposed_IP_final_bands_test_2/Number_bands_10_Prueba_2/last_weights.h5
Results/Proposed_IP_final_bands_test_2/Number_bands_10_Prueba_2/Selected_complete_results.txt
Results/Proposed_IP_final_bands_test_2/Number_bands_10_Prueba_3/best_weights.h5
Results/Proposed_IP_final_bands_test_2/Number_bands_10_Prueba_3/last_weights.h5
Results/Proposed_IP_final_bands_test_2/Number_bands_10_Prueba_3/Selected_complete_results.txt
Results/Proposed_IP_final_bands_test_2/Number_bands_10_Prueba_4/best_weights.h5
Results/Proposed_IP_final_bands_test_2/Number_bands_10_Prueba_4/last_weights.h5
Results/Proposed_IP_final_bands_test_2/Number_bands_10_Prueba_4/Selected_complete_results.txt
Results/Proposed_IP_final_bands_test_2/Number_bands_10_Prueba_5/best_weights.h5
Results/Proposed_IP_final_bands_test_2/Number_bands_10_Prueba_5/last_weights.h5
Results/Proposed_IP_final_bands_test_2/Number_bands_10_Prueba_5/Selected_complete_results.txt
Results/Proposed_IP_final_bands_test_2/Number_bands_10_Prueba_6/best_weights.h5
Results/Proposed_IP_final_bands_test_2/Number_bands_10_Prueba_6/last_weights.h5
Results/Proposed_IP_final_bands_test_2/Number_bands_10_Prueba_6/Selected_complete_results.txt
Results/Proposed_IP_final_bands_test_2/Number_bands_200_Prueba_7/best_weights.h5
Results/Proposed_IP_final_bands_test_2/Number_bands_200_Prueba_7/last_weights.h5
Results/Proposed_IP_final_bands_test_2/Number_bands_200_Prueba_7/Selected_complete_results.txt
Results/Proposed_PU_final_bands_test_2/Final_Selected_results.txt
Results/Proposed_PU_final_bands_test_2/Proposed_complete_results.txt
Results/Proposed_PU_final_bands_test_2/Number_bands_103_Prueba_7/best_weights.h5
Results/Proposed_PU_final_bands_test_2/Number_bands_103_Prueba_7/last_weights.h5
Results/Proposed_PU_final_bands_test_2/Number_bands_103_Prueba_7/Selected_complete_results.txt
Results/Proposed_PU_final_bands_test_2/Number_bands_10_Prueba_0/best_weights.h5
Results/Proposed_PU_final_bands_test_2/Number_bands_10_Prueba_0/last_weights.h5
Results/Proposed_PU_final_bands_test_2/Number_bands_10_Prueba_0/Selected_complete_results.txt
Results/Proposed_PU_final_bands_test_2/Number_bands_10_Prueba_1/best_weights.h5
Results/Proposed_PU_final_bands_test_2/Number_bands_10_Prueba_1/last_weights.h5
Results/Proposed_PU_final_bands_test_2/Number_bands_10_Prueba_1/Selected_complete_results.txt
Results/Proposed_PU_final_bands_test_2/Number_bands_10_Prueba_2/best_weights.h5
Results/Proposed_PU_final_bands_test_2/Number_bands_10_Prueba_2/last_weights.h5
Results/Proposed_PU_final_bands_test_2/Number_bands_10_Prueba_2/Selected_complete_results.txt
Results/Proposed_PU_final_bands_test_2/Number_bands_10_Prueba_3/best_weights.h5
Results/Proposed_PU_final_bands_test_2/Number_bands_10_Prueba_3/last_weights.h5
Results/Proposed_PU_final_bands_test_2/Number_bands_10_Prueba_3/Selected_complete_results.txt
Results/Proposed_PU_final_bands_test_2/Number_bands_10_Prueba_4/best_weights.h5
Results/Proposed_PU_final_bands_test_2/Number_bands_10_Prueba_4/last_weights.h5
Results/Proposed_PU_final_bands_test_2/Number_bands_10_Prueba_4/Selected_complete_results.txt
Results/Proposed_PU_final_bands_test_2/Number_bands_10_Prueba_5/best_weights.h5
Results/Proposed_PU_final_bands_test_2/Number_bands_10_Prueba_5/last_weights.h5
Results/Proposed_PU_final_bands_test_2/Number_bands_10_Prueba_5/Selected_complete_results.txt
Results/Proposed_PU_final_bands_test_2/Number_bands_10_Prueba_6/best_weights.h5
Results/Proposed_PU_final_bands_test_2/Number_bands_10_Prueba_6/last_weights.h5
Results/Proposed_PU_final_bands_test_2/Number_bands_10_Prueba_6/Selected_complete_results.txt
Results/Proposed_Sal_final_bands_test_2/Final_Selected_results.txt
Results/Proposed_Sal_final_bands_test_2/Proposed_complete_results.txt
Results/Proposed_Sal_final_bands_test_2/Number_bands_10_Prueba_0/best_weights.h5
Results/Proposed_Sal_final_bands_test_2/Number_bands_10_Prueba_0/last_weights.h5
Results/Proposed_Sal_final_bands_test_2/Number_bands_10_Prueba_0/Selected_complete_results.txt
Results/Proposed_Sal_final_bands_test_2/Number_bands_10_Prueba_1/best_weights.h5
Results/Proposed_Sal_final_bands_test_2/Number_bands_10_Prueba_1/last_weights.h5
Results/Proposed_Sal_final_bands_test_2/Number_bands_10_Prueba_1/Selected_complete_results.txt
Results/Proposed_Sal_final_bands_test_2/Number_bands_10_Prueba_2/best_weights.h5
Results/Proposed_Sal_final_bands_test_2/Number_bands_10_Prueba_2/last_weights.h5
Results/Proposed_Sal_final_bands_test_2/Number_bands_10_Prueba_2/Selected_complete_results.txt
Results/Proposed_Sal_final_bands_test_2/Number_bands_10_Prueba_3/best_weights.h5
Results/Proposed_Sal_final_bands_test_2/Number_bands_10_Prueba_3/last_weights.h5
Results/Proposed_Sal_final_bands_test_2/Number_bands_10_Prueba_3/Selected_complete_results.txt
Results/Proposed_Sal_final_bands_test_2/Number_bands_10_Prueba_4/best_weights.h5
Results/Proposed_Sal_final_bands_test_2/Number_bands_10_Prueba_4/last_weights.h5
Results/Proposed_Sal_final_bands_test_2/Number_bands_10_Prueba_4/Selected_complete_results.txt
Results/Proposed_Sal_final_bands_test_2/Number_bands_204_Prueba_5/best_weights.h5
Results/Proposed_Sal_final_bands_test_2/Number_bands_204_Prueba_5/last_weights.h5
Results/Proposed_Sal_final_bands_test_2/Number_bands_204_Prueba_5/Selected_complete_results.txt
